header {
    background-color: black;
    height: 50px;
    position: sticky;
    top: 0;
    font-family: "Poppins";
}

body {
    margin: 0;
    font-family: "Poppins";
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 40px;
    padding-top: 5px;
    padding-right: 700px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    color: white;
    background: black;
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    padding-top: 10px;
    padding-left: 20px;
}

.dropdown-list li {
    background:black;
    padding: 20px 10px;
    border: 1px solid red;
}

.dropdown:hover .dropdown-list {
    display: block;
    position: absolute;
    top: 30px;
    align-content: center;
}

.menu, .menu2 {
    padding: 0px 20px;
}

    .navbar a {
        text-decoration: none;
        color: white;
    }

.navbar a.menu:hover {
    border-bottom: 1px solid white;
}

.navbar a.menu2:hover {
    border-bottom: 1px solid white;
}

.rocket {
    background-image: url("./assets/rocket.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 3px solid white;
    color: white;
    padding: 0px 10px;
    display: flex;
}

.rocket hr {
    border: 0.6px dotted;
}

.text1 { 
    padding-right: 50px;
}

.text2 {
    padding: 0px 5px;
    background-color: red;
    max-width: 75%;
}

.text2 div {
    display: inline-block;
}

.features {
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-list {
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.list {
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px lightgray;
    color: lightgrey;
    font-size: 0.9em;
}

.title {
    font-weight: bold;
    padding: 10px 10px;
    color: black;
}

.list a {
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 5px 120px;
    border-radius: 4px;
}

.list a:hover {
    border: 1px solid blue;
    border-radius: 4px;
}

.cool-text {
    background-color: rgb(61, 61, 61);
    padding: 100px 30px;
    color: white;
}

.gradient {
    text-align: right;
    background-color: blue;
    color: white;
    background-image: linear-gradient(to right, white, blue);
    padding: 100px 30px;
}

.cool-box {
    padding: 8px 25px;
    color: white;
    background: black;
    border: 5px solid white;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 1310px;
    left: 20px;
    transition: 1s;
}

.cool-look {
    color: red;
    font-weight: bold;
}

.cool-box:hover {
    transform: rotate(1080deg) scale(0.5);
}

.pics img {
    width: 410px;
}

.pics {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    overflow: hidden;
}

.cat1 {
    transition: 0.2s;
}

.cat1:hover {
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(80%);
    }

.cat2 {
    transition: 0.5s;
}

.cat2:hover {
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(80%);
}

.cat3 {
    transition: 0.5s;
}

.cat3:hover {
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(80%);
}

.car1 {
    transition: 0.5s;
}

.car1:hover {
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(80%);
}

.car2 {
    transition: 0.5s;
}

.car2:hover {
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(80%);
}

.car3 {
    transition: 0.5s;
}

.car3:hover {
    transform: scale(1.1);
    z-index: -1;
    filter: brightness(80%);
}

.email {
    text-align: center;
}

.mail {
    border: 1px solid grey;
}

button {
    border: lightgray;
}

.useless-links {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}